#workspace IDE
*/virtual/*
virtal/
.idea/workspace.xml
.idea/
webservices_rpi_arduino_comm/__pycache__/

# Logs
logs

# Dependency directory
webrobocontrol/node_modules/
outdated_code/webrobocontrol/node_modules/

.DS_Store

*/.ipynb_checkpoints
