 body{
        background: black;
    color: grey;
 }

            #container {
                display: flex;
                flex-flow: row nowrap;
                align-items: flex-end;
            }
            video {
                background: #eee none repeat scroll 0 0;
                border: 1px solid #aaa;
            }
            .overlayWrapper {
                position: relative;
            }
            .overlayWrapper .overlay {
                position: absolute;
                top: 0;
                left: 5px;
            }
            p {
                margin: 0.125em;
            }

              .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }