            #server {
                display:block;
                margin:0% auto 2%;
            }
            #startwebrtcstream {
                display:inline-block;
                margin:0% auto 2%;
            }
            #stopwebrtcstream {
                display:inline-block;
                margin:0% auto 2%;
            }
            video {
                position:absolute;
                visibility:hidden;
                    background: #eee none repeat scroll 0 0;
                border: 1px solid #aaa;
            }
            canvas { border:8px solid #fff;}
            
.navbar-brand{
    display: contents;
    height: -webkit-fill-available;
}

.navbar-brand img{
    height: 50px;
}

#container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    margin-top: 100px;
}

.overlayWrapper {
    position: relative;
}
.overlayWrapper .overlay {
    position: absolute;
    top: 0;
    left: 5px;
}
p {
    margin: 0.125em;
}

.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
}

.modal-footer {
      background-color: #f9f9f9;
}

.controlBar{
        /* float: left; */
    left: 450px;
    max-width: 100px;
    /* float: left; */
    top: 90px;
    position: absolute;
    z-index: 2;
}

.topButtons{
    margin-left: 5px;
    margin-right: 5px;
}

.mediaControlBar{
    width: 200px;
    margin: 5px;
    position: absolute;
    top: 50px;
    right: 0px;
}

.btn-mediaControlBar{
    margin-top:20px;
}

.capturefileLogsDiv{
        height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}